services:
  server:
    build:
      context: .
      dockerfile: dockerfiles/nginx.dockerfile
    ports:
      # nginx exposes port 80 internally
      - '${SERVER_PORT}:80'
    # volumes:
    # https://hub.docker.com/_/nginx - :ro = read only volume
    # - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    # - ./src:/var/www/html:ro
    depends_on:
      - php
      - mysql

  php:
    build:
      context: .
      dockerfile: dockerfiles/php.dockerfile
    # volumes:
    # - ./src:/var/www/html:delegated # 'delegated' improves performance by not instantly syncing changes from host to container

  # Based on outdated tutorial; Laravel composer now uses sqlite, this requires running docker compose run --rm php php artisan migrate --force as well as changing DB_CONNECTION in src/.env
  mysql:
    image: 'mysql:8.0'
    env_file:
      - ./env/mysql.env

  composer:
    build:
      context: ./dockerfiles
      dockerfile: composer.dockerfile
    volumes:
      - ./src:/var/www/html

  artisan:
    build:
      context: ./dockerfiles
      dockerfile: php.dockerfile
    volumes:
      - ./src:/var/www/html
    entrypoint: ['php', '/var/www/html/artisan']

  npm:
    image: 'node:latest-alpine'
    working_dir: /var/www/html
    volumes:
      - ./src:/var/www/html
    entrypoint: ['npm']
